<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>app.login.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewCustomerServlet</servlet-name>
        <servlet-class>app.Register.NewCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewCustomerServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>appResetPassword.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/reset</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TransactionServlet</servlet-name>
        <servlet-class>app.transaction.TransactionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransactionServlet</servlet-name>
        <url-pattern>/trans</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminControlerServlet</servlet-name>
        <servlet-class>appAdminControler.AdminControlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminControlerServlet</servlet-name>
        <url-pattern>/adminControler/*</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/errorJava.jsp</location>
    </error-page>
    <resource-env-ref>
        <resource-env-ref-name>jdbc/fortoba</resource-env-ref-name>
        <resource-env-ref-type>javax.sql.DataSource</resource-env-ref-type>
    </resource-env-ref>
    <security-role>
        <description>customer service employees</description>
        <role-name>service</role-name>
    </security-role>
    <security-role>
        <description>system administrators</description>
        <role-name>programmer</role-name>
    </security-role>
    <!-- Restrict access to all files in the /admin folder -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <!-- Authorize the programmer and service roles -->
        <auth-constraint>
            <role-name>programmer</role-name>
            <role-name>service</role-name>
        </auth-constraint>
    </security-constraint>
    <!-- Use form-based authentication -->
    <security-constraint>
        <display-name>Constraint1</display-name>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <description/>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>programmer</role-name>
            <role-name>service</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/admin/login.html</form-login-page>
            <form-error-page>/admin/login_error.html</form-error-page>
        </form-login-config>
    </login-config>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
</web-app>
